@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.light {
    --bg: 248, 248, 248; /* #F8F8F8 */
    --accent-light: 153, 150, 144; /* #999690 */
    --primary: 151, 145, 140; /* #97918C */
    --accent-dark: 133, 124, 121; /* #857C79 */
    --secondary: 31, 29, 31; /* #1F1D1F */
}

.dark {
    --bg: 240, 239, 239; /* #F0EFEF */
    --accent-light: 130, 134, 138; /* #82868A */
    --primary: 114, 112, 121; /* #727079 */
    --accent-dark: 116, 115, 125; /* #74737D */
    --secondary: 30, 31, 36; /* #1E1F24 */
}

.horizontal-container {
    display: flex;
    width: 300vw; /* Adjust based on number of sections */
    height: 100vh;
    overflow: hidden;
}

.horizontal-section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.after-horizontal {
    height: 100vh;
    background: #f5f5f5;
}
